<div class="c-content padding--{{acf.module_padding}} background--{{acf.module_background}}">

    <div class="o-row o-row--no-margin">

        <div class="o-grid-container">

            {{ acf.content }}

        </div>

    </div>

</div>