<div class="c-content-block nopaddingtop">
    <div class="c-content_block__content e-content">
        {{ acf.contentblock_content }}
    </div>
    {% if acf.content_link %}
        <div class="c-content-block__link">
            {% include "./elements/button.twig"
            with  {
                title : acf.content_link['title'],
                url: acf.content_link['url'],
                target: acf.content_link['target']
            }
            %}
        </div>
    {% endif %}
</div>