<div class="c-content padding{% if acf.module_padding != 'padding' %} {{acf.module_padding}}{% endif %} background--{{acf.module_background}}">

    <div class="o-row o-row--no-margin">

        <div class="o-grid-container">

            {{ acf.content }}

        </div>

    </div>

</div>