<div class="c-content_block padding{% if acf.module_padding != 'padding' %} {{acf.module_padding}}{% endif %} background--{{acf.module_background}}">
    <div class="e-content">
        {{ acf.contentblock_content }}
    </div>
</div>