{% set items = post.meta('hero_carousel_items') %}

<div class="c-hero-carousel">

    {% if items %}

        <div class="swiper-container c-hero-carousel__swiper">

            <div class="swiper-wrapper">

            {% for item in items %}

                {% set type = item.type %}

                {% if type == 'standard' %}
                <!-- get CF hero -->
                    {% set hero = item.hero %}
                {% else %}
                    {% set hero = TimberPost( get_prod_cat_pages( item.hero_carousel_page ) ) %}
                {% endif %}

                <!-- get hero type = full -->
                {% set heroType = hero.hero_type %}

                <!-- Set hero variables for this instance -->
                {% set heroItems = {
                    carousel: true,
                    header: hero.hero_header,
                    type: heroType
                } %}

                {% if heroType == 'full' %}
                    {% set heroItems = heroItems|merge({
                        intro: hero.hero_intro,
                        content: hero.hero_content,
                        image: TimberImage(hero.hero_image),
                        moreContent: hero.hero_more_content,
                        linktype: hero.hero_button.hero_link_config,
                        link: hero.hero_button.hero_link,
                        skiplinktext: hero.hero_button.link_text
                    })%}
                {% endif %}


                {% if type == 'page' %}
                    {% set heroItems = heroItems|merge({
                        linktype: hero.hero_button_hero_link_config,
                        link: hero.hero_button_hero_link,
                        skiplinktext: hero.hero_button_link_text
                    })%}
                {% endif %}


                <div class="swiper-slide">
                    {% include "./partials/hero.twig" with heroItems %}
                </div>

            {% endfor %}

            </div>

            <div class="swiper-pagination c-hero-carousel__pagination"></div>

        </div>

    {% endif %}

</div>