<div class="c-iframe padding{% if acf.module_padding != 'padding' %} {{acf.module_padding}}{% endif %} background--{{acf.module_background}}">

    <div class="o-row">

		<div class="o-grid-container">

            <iframe class="c-iframe__window" src="{{ acf.iframe_url }}" style="{% if acf.iframe_height %}height: {{ acf.iframe_height }}px;{% endif %}"></iframe>

        </div>

    </div>

</div>