<div class="c-maintenance">
    
    <div class="c-maintenance__inner">
        <h1 class="c-maintenance__title">{{ options.maintenance_page_title }}</h1>
        <div class="c-maintenance__snippet">
            <p>{{ options.maintenance_page_text }}</p>
        </div>
    </div>
</div>