<div class="c-media padding{% if acf.module_padding != 'padding' %} {{acf.module_padding}}{% endif %} background--{{acf.module_background}}">

    <div class="o-grid-container">

        {% if acf.media_type == 'video' %}

            {% include "./elements/video.twig"with {
                video: acf.media_video,
                placeholder: acf.video_placeholder
            } %}

        {% else %}

            {% include "./elements/image.twig" with {
                image: acf.media_image
            } %}

        {% endif %}

    </div>

</div>