<div class="c-media nopaddingtop">

    <div class="o-grid-container">

        {% if acf.media_type == 'video' %}

            {% include "./elements/video.twig"with {
                video: acf.media_video
            } %}

        {% else %}

            {% include "./elements/image.twig" with {
                image: acf.media_image
            } %}

        {% endif %}

    </div>

</div>