<div class="c-quote">

    <div class="o-row">

        <div class="o-grid-container">

            {{ acf.quote_quote }}

            {{ acf.quote_who }}

            {{ acf.quote_role }}

        </div>

    </div>

</div>