<div class="c-quote">
    <div class="c-quote__inner">
        <div class="c-quote__quote">
            {{ acf.quote_quote }}
        </div>
        <div class="c-quote__person">
            {{ acf.quote_who }}
        </div>
        <div class="c-quote__position">
            {{ acf.quote_role }}
        </div>
    </div>
</div>