html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  @include font-size($font-size-base);
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: $color-bg-3;
  color:$color-text;
  font-family: $font-primary;
  font-weight: $reg;
  text-align: left;
  overflow-x: hidden;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }

  font-synthesis: inherit;
}

address {
  font-style: inherit;
}

figure {
  margin: 0;
}

.touch {
  cursor: pointer;
}

::selection {
  color: $white;
}

a,
area,
button,
[role='button'],
input:not([type='range']),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.sr {
  display: none;
}

.main {
  position: relative;
  padding-bottom: 80px;

  @media (min-width: $break-desktop-med) {
    padding-bottom: 110px;
  }
}

ul li{
  list-style: none;
}