// standard clearfix
@mixin clearfix {
  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }

  & {
    *zoom: 1;
  }
}

// aspect ratio mixin
@mixin aspect-ratio($arglist...) {
  $map: keywords($arglist);
  $height: map-get($map, height) or nth-or-null($arglist, 2);
  $width: map-get($map, width) or nth-or-null($arglist, 1);
  $ratio: map-get($map, ratio) or if($width and $height, $width/$height, nth-or-null($arglist, 1)) or 1;
  $padding: 1 / $ratio * 100%;

  &::before {
    content: '';
    position: relative;
    display: block;
    padding-bottom: $padding;
  }

  &::after {
    content: '';
    display: table;
  }
}

// Helper function
// Return null rather than throwing an error if index is outside list range.
@function nth-or-null($list, $index) {
  @return if(length($list) >= $index, nth($list, $index), null);
}

// remove default styles in iOS.
@mixin remove-webkit-defaults {
  border-radius: 0;
  appearance: none;
}

@function calculateRem($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}

// USAGE: @include stagger-transition-delay(10, 0.5s, 0.1s);
@mixin stagger-transition-delay($i, $initial-delay, $stagger-delay) {
  @while $i > 0 {
    &:nth-child(#{$i}) {
      transition-delay: $initial-delay + $stagger-delay * $i;
    }

    $i: $i - 1;
  }
}

// USAGE: @include hocus {color: red;}
@mixin hocus {
  &:hover,
  &:focus {
    @content;
  }
}

// set colors

@mixin page-color($rule){
  .theme-color--orange &{
    #{$rule}: $brand-gold;
  }
  .theme-color--blue &{
    #{$rule}: $brand-ocean;
  }
  .theme-color--green &{
    #{$rule}: $brand-emerald;
  }
}

@mixin listitemdefaults{
  position: relative;
  display: flex;
  align-items: flex-start;
  list-style: none;
  line-height: 1.4;
  &:before {
    position: relative;
    top: 0.5em;
    flex-grow: 0;
    flex-shrink: 0;
    width: 6px;
    height: 6px;
    margin-right: 1em;
    background-color: $color-text-link;
    content: '';
  }
}

@mixin ollistitemdefaults{
  counter-increment: item;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0.4em;
  list-style: none;
  line-height: 1.4;
  &:before {
    margin-right: 10px;
    color: $color-text-link;
    content: counter(item) '. ';
  }
}


@mixin text-format {
  h2, h3, h4, h5, p, ul, ol, hr{
    margin-bottom:1.5rem;
  }
  h2{
    @include header-regular($underline: true);
  }
  p{
    margin-bottom: 1em;
  }
  a{
    color: $brand-red;
    text-decoration: underline;
  }
  p, a, li{
    @include text-regular;
  }

  a:active {
    border-bottom: 1px solid $color-text-link;
  }

  a:focus {
    border-bottom: 1px solid $color-text-link;
  }

  a:visited {
    border-bottom: 1px solid $color-text-link;
  }

  hr {
    border-top-color: $color-line;
  }

  ol,
  ul {
    list-style-position: inside;
  }

  ul {
    li {
      @include listitemdefaults;
    }
  }

  ol {
    list-style: none;
    counter-reset: li;
    li{
      @include ollistitemdefaults;
    }
  }
}




// Typography mixins

@mixin font-regular{
  font-family:$font-primary, $font-secondary;
}
@mixin font-bold{
  font-family:$font-bold, $font-secondary;
}
@mixin font-display{
  font-family:$font-bold, $font-secondary;
}
@mixin text-tiny{
  font-size:1.4rem;
  line-height: 1.2;
}
@mixin text-small{
  font-size:1.6rem;
  line-height: 1.4;
}
@mixin text-regular{
  font-size:1.8rem;
  line-height: 1.4;
}
@mixin text-large{
  font-size:2rem;
  line-height: 1.2;
}


@mixin text-side-nav{
  display: block;
  padding:0.5rem;
  padding-left: 0;
  color:$color-text;
  font-size:2rem;
  line-height: 1.4;
  text-decoration: none;
  &:hover{
    color:$brand-red;
  }
}

// Underline under headings

@mixin underline{
  display: block;
  width: 72px;
  height: 6px;
  margin: clamp(1rem, 1.5em, 3rem) 0;
  padding:0;
  background-color:$brand-red;
  border:none;
  @include breakpoint($break-desktop){
    width: 220px;
    height: 8px;
  }
}
@mixin underline-small{
  display: block;
  width: 72px;
  height: 6px;
  margin: clamp(1rem, 1.5em, 3rem) 0;
  padding:0;
  background-color:$brand-red;
  border:none;
}

// Huge section headings
@mixin header-section($underline: false){
  @include font-bold;
  @include text-large;
  margin-top: 0;
  @include breakpoint($break-mobile){
    font-size:3rem;
  }
  @include breakpoint($break-tablet){
    font-size:4rem;
  }
  @include breakpoint($break-desktop){
    font-size:6rem;
  }
  @if $underline {
    &:after{
      content: '';
      @include underline;
    }
  }
}
// Regular headings
@mixin header-regular($underline: false, $stumpyunderline: false){
  @include font-bold;
  @include text-large;
  @include breakpoint($break-mobile){
    font-size:2.5rem;
  }
  @include breakpoint($break-tablet){
    font-size:3rem;
  }
  @include breakpoint($break-desktop){
    font-size:4rem;
  }
  @if $underline {
    &:after{
      content: '';
      @include underline;
    }
  }
  @if $stumpyunderline{
    &:after{
      @include underline;
      max-width: 86px;
    }
  }
}

// Small headings
@mixin header-small($underline: false){
  @include font-bold;
  @include text-large;
  @include breakpoint($break-tablet){
    @include text-large;
  }
  @include breakpoint($break-desktop-wide){
    font-size:2.4rem;
  }
  @if $underline {
    &:after{
      content: '';
      @include underline-small;
    }
  }
}

// tagline above headings
@mixin header-tagline{
  color: $brand-red;
  text-transform: uppercase;
  @include text-tiny;
  @include breakpoint($break-tablet){
    @include text-small;
  }
}

// intros
@mixin intro-text{
  font-size:2.4rem;
  line-height: 1.2;
  @include font-bold;
}


@mixin image-with-focus {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &--left-top {
    img {
      object-position: left top;
    }
  }

  &--center-top {
    img {
      object-position: center top;
    }
  }

  &--right-top {
    img {
      object-position: right top;
    }
  }

  &--left-center {
    img {
      object-position: left center;
    }
  }

  &--center-center {
    img {
      object-position: center center;
    }
  }

  &--right-center {
    img {
      object-position: right center;
    }
  }

  &--left-bottom {
    img {
      object-position: left bottom;
    }
  }

  &--center-bottom {
    img {
      object-position: center bottom;
    }
  }

  &--right-bottom {
    img {
      object-position: right bottom;
    }
  }
}

// Flex

@mixin flex {
  display: flex;
  align-items: center;
  justify-content:flex-start;
}
@mixin flex-top{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content:flex-start;
}
@mixin flex-bottom{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content:flex-start;
}
@mixin flex-stretch{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content:flex-start;
}
@mixin flex-center{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
}
@mixin flex-column{
  display: flex;
  flex-direction: column;
}



// button

@mixin buttondefaults{
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 44px;
  padding: 0 2em;
  background-color: $brand-red;
  border-radius: 2px;
  color: $white;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor:pointer;
  @include text-small;
  @include font-bold;
  @include page-color('background');
  &:after{
    position: absolute;
    top:0;
    left: 0;
    display: block;
    width:100%;
    height: 100%;
    background-color: rgba($black, 0);
    transition: background-color 0.3s;
    content: '';
  }
  &:hover{
    &:after{
      background-color: rgba($black, 0.1);
    }
  }
  span {
    @include font-bold;
    z-index: 1;
  }
  svg {
    path {
      transition: all 300ms;
      fill: $white;
    }

    @include breakpoint($break-tablet) {
      width: 16px;
      height: 18px;
    }
  }
}

@mixin button-outline{
  background-color:transparent;
  border:solid 2px $color-line-dark;
  color:$color-text;
  &:hover{
    background-color: $color-line-dark;
    color:$white;
  }
}
@mixin button-outline-inverse{
  background-color:transparent;
  border:solid 3px $white;
  color:$white;
  &:hover{
    background-color: $white;
    color:$color-text;
  }
}

@mixin box-borders{
  border: 2px solid $color-line-darker;
  .background--gray &{
    border-color:$color-line-darker;
  }
}

// form label
@mixin form-label{
  display: block;
  @include text-small;
  width: 100%;
  margin-bottom:0.5em;
  @include font-bold;
  @include breakpoint($break-desktop-wide) {
    @include text-regular;
  }
}

// for text input
@mixin form-input-text{
  width: 100%;
  padding: 0.6em;
  background-color: $white;
  @include box-borders;
  @include text-small;
}

// form invalid

@mixin invalid-field{
  border: 2px solid $brand-red;
}


// inline text input
@mixin form-input-text--inline{
  width: 100%;
  padding: 0.6em;
  background-color: $white;
  @include box-borders;
  @include text-small;
}

// textara
@mixin form-input-textarea{
  width: 100%;
  height: 12em;
  padding: 0.6em;
  background-color: $white;
  @include box-borders;
  @include text-small;
}

// dropdown
@mixin form-dropdown{
  position: relative;
  width: 100%;
  width: 100%;
  padding: 0;
  background-color:$white;
  background-image:url('#{$image-path}/icons/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: center right 0.8em;
  @include box-borders;
  color: unset;
  cursor: pointer;
  @include text-small;
  @include page-color(border-bottom-color);
  .theme-color--orange &{
    background-image:url('#{$image-path}/icons/arrow-down-orange.svg');
  }
  .theme-color--blue &{
    background-image:url('#{$image-path}/icons/arrow-down-blue.svg');
  }
  .theme-color--green &{
    background-image:url('#{$image-path}/icons/arrow-down-green.svg');
  }
  select, option{
    display: block;
    width: 100%;
    height: 100%;
    padding:0.8em;
    font-family: $font-primary;
  }
}

// submit form radio
@mixin form-radio{
  width: auto;
}

// submit button
@mixin form-submit{
  @include buttondefaults;
  margin-left: auto;
  &:after{
    display: none;
  }
  &:hover{
    background-color: darken($brand-red, 5%);
  }
}

// fieldset
@mixin fieldset{
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 3rem;
  background-color: $color-bg-feint;
  border: none;
  legend{
    display: none;
  }
}


@mixin bordered-box{
  padding:3rem;
  @include box-borders;
}
@mixin bordered-box--small{
  padding:1.5rem;
  @include box-borders;
}




// woocommerce mixins

@mixin notice-strip{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  max-width: $site-width;
  background-color: $brand-red;
  @include page-color('background-color');
  color:$white;
  &:before{
    position: absolute;
    top: 0;
    left: -50vw;
    display: block;
    width: 50vw;
    height: 100%;
    background-color: $brand-red;
    content: '';
    @include page-color('background-color');
  }
  &:after{
    position: absolute;
    top: 0;
    right: -50vw;
    display: block;
    width: 50vw;
    height: 100%;
    background-color: $brand-red;
    content: '';
    @include page-color('background-color');
  }
  p, ul, ol{
    margin-bottom: 0;
    color:$white;
  }
  a {
    @extend .e-cta-button;
    margin-left: 1.5rem;
    /* stylelint-disable-next-line */
    background-color: $color-bg-solid !important;
  }
  strong{
    margin-right: 0.5em;
  }
  .button {
    order: 2;
    background-color: $color-bg-solid;
    @extend .e-cta-button;
  }
  .cart-empty {
    display: none;
  }
  *{
    @include font-bold;
    @include text-small;
  }
  .woocommerce-message,
  .woocommerce-error {
    padding: 1.5rem;
    text-align: center;
    li{
      display: flex;
      align-items: center;
      justify-content: center;
      list-style-type: none;
      &:before{
        display: none;
      }
    }
  }
  .woocommerce-message{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}





@mixin notice-inline{
  position: relative;
  left: 0;
  width:100%;
  max-width: 800px;
  background: transparent;
  p, ul, ol{
    margin-bottom: 0;
    text-align: left;
  }
  a {
    @extend .e-cta-button;
    margin-left: 1.5rem;
    /* stylelint-disable-next-line */
    background-color: $color-bg-solid !important;
  }
  strong{
    margin-right: 0.5em;
  }
  .button {
    order: 2;
    background-color: $color-bg-solid;
    @extend .e-cta-button;
  }
  .cart-empty {
    display: none;
  }
  *{
    @include font-bold;
    @include text-small;
  }
  & *{
    color:$color-text;
  }
  ul{
    padding: 0;
    padding-bottom: 1.5rem;
    li{
      text-align: left;
      @include listitemdefaults;
    }
  }
}