.flex {
  display: flex;
  align-items: center;
  justify-content:flex-start;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-start {
  align-items: flex-start;
}

.dark{
  background-color: #333333;
  color:$white;
  p, li, a{
    color:$white;
  }
}