// woocommerce that doesn't belong anywhere else

.woocommerce{

  .woocommerce-Price-amount{
    @include font-bold;
  }

  .clear{
    display: none;
  }
  position: relative;
  .woocommerce-cart &{
    padding-top: $padding-deep;
    padding-bottom: $padding-deep;
  }
  form.woocommerce-form, form.checkout, .woocommerce-MyAccount-content form{

    //CONTAINERS

    // for edit account on account page
    &.edit-account{
      display: flex;
      flex-wrap: wrap;
      max-width: 800px;
      column-gap:2rem;
    }

    // for checkout
    .woocommerce-billing-fields__field-wrapper{
      display: flex;
      flex-wrap: wrap;
      max-width: 800px;
      column-gap:2rem;
    }

    // for login panel on checkout page
    &.woocommerce-form-login{
      display: flex;
      flex-wrap: wrap;
      max-width: 800px;
      column-gap:2rem;
    }

    // FIELDS

    // form row

    .form-row{
      width: 100%;
      margin-bottom: 3rem;
      &-first{
        width: calc(50% - 1rem);
      }
      &-last{
        width: calc(50% - 1rem);
      }
      &-wide{
        width: 100%;
      }
    }

    // addresses field

    address{
      line-height: 1.4;
    }

    .woocommerce-address-fields, .edit-account {
      label {
        @include form-label;
      }
      span em {
        position: relative;
        display: block;
        @include text-small;
      }
      legend {
        display: none;
      }
    }

    .woocommerce-form-login__rememberme{
      position: absolute;
      display: flex;
      align-items: baseline;
      width: auto;
      margin-bottom: 0;
    }

    #billing_address_1_field{
      margin-bottom: 1rem;
    }

    input[type='text'], input[type='tel'], input[type='email'], input[type='password'] {
      @include form-input-text;
    }
    input[type='radio'] {
      @include form-radio;
    }
    label{
      @include form-label;
    }
    textarea {
      @include form-input-textarea;
    }
    .button {
      @include form-submit;
    }
    select{
      @include form-dropdown;
      padding: 0.8rem;
    }
    fieldset {
      @include fieldset;
      width: 100%;
      margin-bottom: 3rem;
    }

    .woocommerce-invalid-required-field, .woocommerce-invalid, .validate-invalid{
      input{
        /* stylelint-disable-next-line */
        border: 2px solid $brand-red !important;
      }
    }

    .password-input{
      .woocommerce-password-strength{
        display: block;
        margin-top: 1.5rem;
        @include text-regular;
      }
      small{
        @include text-tiny;
        display: block;
        margin-top: 1rem;
      }
    }

  }
}

@mixin variationtable{
  /* stylelint-disable */
  display: grid;
  padding: 0 !important;
  line-height: 1.2 !important;
  grid-template-columns:40% 1fr;
  gap:0.5em 1em;
  dt, dd, p{
    margin: 0 !important;
    padding: 0 !important;
    font-family: $font-primary;
    font-size:14px !important;
    font-weight: 100 !important;
    line-height: 1.2 !important;
  }
  dt, dd{
    @include breakpoint($break-desktop) {
      display: block;  
    }
  }
  dt{
    padding-right: 0.5em;
    @include font-bold;
  }
  /* stylelint-enable */
}

.returning-customer{
  margin-bottom: 1.5rem;
}

.woocommerce-NoticeGroup{
  @include notice-inline;
}

address, address p{
  @include text-regular;
}
address p{
  margin-top: 0.5em;
}

/* stylelint-disable */
.crafty_billing{
  &*{
    float:none !important;
  }
  &.form-row{
    &-first{
      flex-grow: 1;
      width: unset !important;
    }
    &-last{
      width: unset !important;
    }
  }
}

.crafty_billing.address-field{
  button{
    position: relative;
    top: -2.5rem;
  }
}
#billing_cp_button{
  top: unset !important;
  float: none !important;
  font-size:1.6rem !important;
}
#billing_country{
  padding-bottom: 1.5rem;
}

// country selector

.select2{
  &-selection{
    height: auto !important;
    border: $borderline-darker !important;
    border-radius: 0 !important;
    font-size: 1.6rem !important;
  }
  &-container{
  }
  &-dropdown{
    border: $borderline-darker !important;
  }
  &-search{
    padding: 0.6em !important;
    font-size: 1.6rem !important;
    &__field{
      border: $borderline-darker !important;
    }
  }
  &-results{
    &__options{
      font-size: 1.6rem !important;
      li{
        padding: 0.6em !important;
      }
    }
    &__option--highlighted{
      background-color: $brand-ocean !important;
    }
  }
}


/* stylelint-enable */
