.e-cta-button {
  @include buttondefaults;
  &--red{
    background-color: $brand-red;
  }
  &--emerald{
    background-color: $brand-emerald;
  }
  &--ocean{
    background-color: $brand-ocean;
  }
  &--charcoal{
    background-color: $brand-charcoal;
  }
  &--pale-charcoal{
    background-color: $brand-pale-charcoal;
  }
  &--gold{
    background-color: $brand-gold;
    color: $color-text;
  }
  &--slate{
    background-color: $brand-slate;
  }
  &--burgundy{
    background-color: $brand-burgundy;
    color: $color-text;
  }
  
  &--outline{
    background-color:transparent;
    border:solid 3px $white;
  }
  .c-hero--product &{
    background-color:transparent;
    border:solid 3px $white;
  }
  &--disabled {
    opacity: 0.5;
  }

  &--small{
    height: 45px;
    padding:0 1em;
  }
}