.e-cookie {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: none;
  width: 300px;
  padding: 20px 25px;
  background-color: $color-bg-1;
  border-radius: 3px;
  color: $white;

  &.show {
    display: block;
  }

  @include breakpoint($break-desktop){
    bottom: 50px;
    left: 50px;
  }

  &__header {
    margin-bottom: 15px;
    font-family: $font-bold;
    line-height: 30px;
    @include font-size(20);
  }

  &__text {
    margin-bottom: 20px;
    line-height: 20px;
    @include font-size(16);
  }
}