.e-cookie {
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
  @include breakpoint($break-desktop){
    bottom: 1.5rem;
    left: 1.5rem;
  }
  z-index: 5;
  display: none;
  width:300px;
  padding: 1.5rem;
  background-color: $color-bg-1;
  border-radius: 3px;
  color: $white;
  &.show {
    display: block;
  }
  &__header {
    margin-bottom: 15px;
    font-family: $font-bold;
    line-height: 30px;
    @include font-size(20);
  }

  &__text {
    margin-bottom: 20px;
    line-height: 20px;
    @include font-size(16);
  }
}