.e-cookie {
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
  @include breakpoint($break-desktop){
    bottom: 1.5rem;
    left: 1.5rem;
  }
  z-index: 5;
  display: none;
  width:320px;
  padding: 3rem;
  background-color: $color-bg-1;
  color: $white;
  &.show {
    display: block;
  }
  &__header {
    margin-bottom: 1.5rem;
    @include font-bold;
    @include text-large;
  }

  &__text {
    margin-bottom: 1.5rem;
    @include text-small;
    a{
      text-decoration: underline;
    }
  }
}