.e-gated-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: $borderline;
}

h3.e-gated-box__title{
  @include header-small;
  @include breakpoint($break-desktop-med){
    margin-bottom: 0;
  }
}