.e-hamburger{
  &__box{
    display: block;
    width: 21px;
    height: 15px;
    padding: 12px;
    background-image: url('#{$asset-path}/img/icons/hamburger.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 21px 15px;
  }
}