.payment_method_stripe{
  p{
    margin-bottom: 1.5rem;
    @include text-tiny;
  }
  fieldset.wc-credit-card-form{
    /* stylelint-disable */
    display: flex;
    flex-wrap: wrap;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    gap: 2rem;
    .form-row{
      margin-bottom: 1.5rem;
    }
    .form-row-last{
      margin-bottom: 0;
    }
    /* stylelint-enable */
  }
  .invalid{
    border: 1px solid $brand-red;
  }
  .wc-stripe-error{
    margin-top: 1.5rem;
  }
  .stripe-source-errors{
    .wc-stripe-error{
      li{
        margin-bottom: 0.5em;
        color: $brand-red;
        &:last-of-type{
          margin-bottom: 0;
        }
      }
    }
  }
}


.wc-stripe-elements-field {
  /* stylelint-disable */
  padding: 0.6em !important;
  background-color: $white !important;
  border: 2px solid $color-line-dark !important;
  font-size:1.6rem !important;
  line-height: 1.4 !important;
  /* stylelint-enable */
}