.woocommerce-notices-wrapper{
  position: absolute;
  top: 37px;
  left: 0;
  z-index: 5;
  width: 100%;
  background-color: $color-bg-solid;
  @include page-color(background-color);
  color: $white;
  @include breakpoint($break-desktop) {
    top: 0;
  }
  
  
  .woocommerce-message,
  .woocommerce-error {
    margin: 0 auto;
    padding: 15px 10px;
    @include breakpoint($break-desktop) {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 1565px;
      padding-right: 0;
      padding-left: 0;
    }
  }

  p {
    margin-top: 3px;
    @include font-bold;
    margin-right: 15px;
    margin-bottom: 15px;

    @include breakpoint($break-desktop) {
      margin-bottom: 0;
    }
  }

  .e-cta-button {
    width: 100%;
    background-color: $color-bg-solid;
    color: $white;
    @include breakpoint($break-desktop) {
      width: auto;
    }
  }

  .woocommerce-message {
    a {
      @extend .e-cta-button;
      margin-left: 15px;
      background-color: $color-bg-solid;
    }
  }

  .woocommerce-error {
    li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    p {
      order: 1;
    }
    .button {
      order: 2;
      @extend .e-cta-button;
      background-color: $color-bg-solid;
    }
  }

  .cart-empty {
    display: none;
  }
}