.woocommerce-notices-wrapper{
  .c-basket &, .single-product &{
    @include notice-strip;
  }
  .woocommerce-MyAccount-content &{
    @include notice-inline;
  }
  .single-product &{
    @include notice-strip;
    position: absolute;
    top: unset;
    bottom: -25px;
    left: 0;
    transform: translateY(100%);
  }
  .single-product.theme-color--green &{
    max-width: unset;
    background-color: $brand-emerald;
    &:before{
      background-color: $brand-emerald;
    }
    &:after{
      background-color: $brand-emerald;
    }
  }
}