.woocommerce-notices-wrapper{
  position: relative;
  z-index: 5;
  width: 100%;
  margin-bottom: 3rem;
  overflow: hidden;
  background-color: $brand-red;
  color: $white;
  &:before{
    content: '';
    
  }
  &:after{
    content: '';
  }
  *{
    @include font-bold;
    @include font-size(16);
  }
  @include page-color(background-color);
  @include breakpoint($break-desktop) {
    top: 0;
  }
  .woocommerce-message,
  .woocommerce-error {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: $site-width;
    margin: 0 auto;
    padding: 1.5rem;
  }

  p {
    margin-top: 3px;
    margin-right: 15px;
    margin-bottom: 15px;
    @include breakpoint($break-desktop) {
      margin-bottom: 0;
    }
  }

  .e-cta-button {
    width: 100%;
    background-color: $color-bg-solid;
    color: $white;
    @include breakpoint($break-desktop) {
      width: auto;
    }
  }

  .woocommerce-message {
    a {
      @extend .e-cta-button;
      margin-left: 15px;
      background-color: $color-bg-solid;
    }
  }

  .woocommerce-error {
    li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    p {
      order: 1;
    }
    strong{
      margin-right: 0.5em;
    }
    .button {
      order: 2;
      background-color: $color-bg-solid;
      @extend .e-cta-button;
    }
  }

  .cart-empty {
    display: none;
  }
}