<div class="e-gated-box">
    {# BARRY - Left this here so you can use it as you please. A class maybe? #}
    {{ status }}
    
    {{ title }}

    {% set buttonArgs = {
        title: button_text,
        url: button_url,
        color: 'red',
        size: 'small'
    } %}

    {% if status != 'completed' %}
        {% set buttonArgs = buttonArgs|merge({
            title: 'Processing',
            url: '#',
        })%}
    {% endif %}

    {% include "./elements/button.twig" with buttonArgs %}
</div>