<div class="c-product-box">

    {% do action('woocommerce_before_single_product') %}
    
    {% do action('woocommerce_before_single_product_summary') %}

    {% do action('woocommerce_single_product_summary') %}

    {% do action('woocommerce_after_single_product_summary') %}

    <div class="c-product-box__help">
    {{ options.store_need_help }}
    </div>

</div>