$edgepadding-mobile:9px;
$edgepadding-mobile-loose:30px;
$edgepadding-tablet:35px;
$edgepadding-desktop:40px;

@mixin rowdefaults{
  width: 100%;
  margin-bottom: 30px;
  padding-right: $edgepadding-mobile;
  padding-left: $edgepadding-mobile;

  @include breakpoint($break-tablet) {
    padding-right: $edgepadding-tablet;
    padding-left: $edgepadding-tablet;
  }

  @include breakpoint($break-desktop-wide) {
    padding-right: $edgepadding-desktop;
    padding-left: $edgepadding-desktop;
  }

  @include breakpoint($break-tablet) {
    margin-bottom: 35px;
  }

  @include breakpoint($break-desktop) {
    margin-bottom: 40px;
  }

  @include breakpoint($break-desktop-wide) {
    margin-bottom: 50px;
  }

  @include breakpoint($break-desktop-wider) {
    margin-bottom: 60px;
  }
}
@mixin padding-loose{
  @include breakpoint(0 $break-tablet){
    padding-right: $edgepadding-mobile-loose;
    padding-left: $edgepadding-mobile-loose;
  }
}

.o-row {
  @include rowdefaults;
  &--mobile-loose{
    @include padding-loose;
  }

  &--no-margin {
    margin: 0px;
  }

  &--no-margin__bottom {
    margin-bottom: 0px;
  }

  &--no-padding {
    padding: 0px;
  }

  &--no-padding__left {
    padding-left: 0px;
  }

  &--no-padding__right {
    padding-right: 0px;
  }
}

.o-grid-container {
  max-width: $site-width;
  margin-right: auto;
  margin-left: auto;
  &--full-width{
    max-width: unset;
  }
}
