<div class="c-header-wrapper">

	<header class="c-header">

		<div class="o-row o-row--no-margin">

			<div class="o-grid-container c-header-container flex">

				{% include "utility.twig" with {'utility': navigation_utility.get_items} %}

			</div>

		</div>

		<div class="o-row o-row--no-margin">

			<div class="o-grid-container c-header-container flex">

				<a href="/" class="c-header__logo">
					<div class="c-header__logo-svg">
						<img src="{{ theme.link }}/assets/src/img/logo.svg" alt="BDO Store"/>
					</div>
				</a>

				{% include "menu.twig" with {'menu': navigation_primary.get_items} %}

				<button class="e-hamburger js-hamburger" type="button" aria-label="Menu" aria-controls="navigation" aria-expanded="true/false">
					<span class="e-hamburger__box"></span>
				</button>

			</div>

		</div>

	</header>

</div>
