{% extends 'base.twig' %}

{% block content %}

    {% include 'partials/hero.twig' with {
        account: true,
        header: 'Results for: '~title~' ',
        type: 'shallow'
    } %}

    <div class="c-search">

        <div class="c-search__results">

            {% include 'partials/listing.twig' with {
                type: 'search',
                items: 3
            } %}

        </div>

    </div>

{% endblock %}