.c-account {

  h2, h3, h4{
    margin-bottom:1.5rem;
  }
  h2{
    @include font-size(32);
  }
  h3{
    @include font-size(26);
  }

  p{
    font-size:16px;
  }

  .woocommerce-Button, button, .edit{
    @include form-submit;
    &:after{
      display: none;
    }
    &:hover{
      background-color: darken($brand-red, 5%);
    }
  }

  .woocommerce-Message{
    .woocommerce-Button{
      margin-right: 1.5rem;
    }
  }


  .woocommerce {
    @include breakpoint($break-tablet){
      min-height: 800px;
    }
    @include breakpoint($break-desktop-med) {
      display: flex;
    }
  }

  .logged-in &{
    background-color:$white;
  }

  // NAVIGATION
  .woocommerce-MyAccount-navigation {
    position: relative;
    padding: 40px 0;
    background-color: $color-line;
    @include font-size(22);
    line-height: 30px;

    @include breakpoint($break-desktop-med) {
      width: 20%;
      padding: 70px 50px 70px 0;
    }

    &:before {
      position: absolute;
      top: 0;
      left: -100vw;
      width: 100vw;
      height: 100%;
      background-color: $color-line;
      content: '';
    }
    &:after {
      position: absolute;
      top: 0;
      right: -100vw;
      width: 100vw;
      height: 100%;
      background-color: $color-line;
      content: '';
      @include breakpoint($break-desktop-med) {
        display: none;
      }
    }

    h2 {
      @include header-small(true);
    }

    li {
      margin: 23px 0;
        
      &.is-active a {
        color: $brand-red;
        @include font-bold;
      }
    }
  }

  // CONTENT AREA
  .woocommerce-MyAccount-content {
    padding: 40px 0;
    @include breakpoint($break-desktop-med) {
      width: 80%;
      padding:clamp(20px, 8vw, 140px);
      padding-top:70px;
      padding-right: 0;
    }

  }

}

.c-account__message {
  margin-top: 10px;
  p {
    margin-top: 25px;
    &:first-of-type{
      margin-top:0;
    }
    line-height: 22px;
    strong {
      font-weight: unset;
      @include font-bold;
    }
    a {
      color: $brand-red;
      text-decoration: underline;
    }
  }
}

// ORDER
.woocommerce-order-details__title,
.woocommerce-column__title,
.woocommerce-Address-title {
  margin-bottom: 20px;
  line-height: 30px;
  @include font-size(26);
}

.woocommerce-Addresses{
  @include breakpoint($break-desktop) {
    display: grid;
    gap:3rem;
    grid-template-columns: 1fr 1fr;
  }
}
.woocommerce-Address{
  margin-top: 30px;
  @include bordered-box--small;
}
.woocommerce-Address-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

mark {
  background-color: $color-line;
}

.woocommerce-table,
.woocommerce-orders-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
    
  thead {
    th {
      @include font-bold;
      line-height: 20px;
      @include font-size(16);
    }
  }

  tbody {
    td {
      padding: 40px 0;
      border-top: 1px solid $color-line-dark;
      line-height: 30px;
      @include font-size(18);
    }

    tr:first-child {
      td {
        border-top: none;
      }
    }

    a {
      color: $brand-red;
      text-decoration: underline;
    }
  }

  tfoot {
    th {
      @include font-bold;
      line-height: 20px;
      @include font-size(16);
    }
  }
}

// ORDER DETAILS
.woocommerce-order-details,
.woocommerce-customer-details {
  margin-top: 30px;
}

.woocommerce-table {
  tbody {
    td {
      padding: 20px 0;
    }
  }
}

// ADDRESS FIELDS
.woocommerce-address-fields,
.edit-account {
  @include form-container;
  label {
    @include form-label;
  }

  input[type='text'], input[type='tel'], input[type='email'], input[type='password'] {
    @include form-input-text;
  }

  .select2-container .select2-selection--single {
    height: 50px;
    margin-bottom: 20px;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 50px;
  }

  span em {
    position: relative;
    top: -0.5em;
    display: block;
    margin-bottom: 20px;
    line-height: 20px;
    @include font-size(16);
  }

  legend {
    display: none;
  }

  fieldset {
    border: none;
  }
}