.c-accordion{

  &__subhead{
    margin-bottom:1.5rem;
    @include header-tagline;
  }

  &__main-heading{
    @include header-regular;
    margin-bottom:1.5rem;
  }

  &__container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: $grid-gap;
    @include breakpoint($break-desktop-med){
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__menu{
    &__item{
      a{
        @include text-side-nav;
      }
    }
  }

  &__blocks{
    grid-column-end: span 2;
  }

  &__block{
    margin-top: 70px;

    &__title{
      @include header-small;
      margin-bottom:1.5rem;
    }

    &:first-of-type{
      margin-top: 0;

      @include breakpoint($break-desktop-med){
        .c-accordion__block__title{
          margin-top: 0;
        }
      }
    }

  }

  &__item{
    margin-bottom: 0.8rem;
    background-color: $color-bg-feint;
    border-top: 4px solid $brand-red;
    @include page-color('border-color');
    transition: all 200ms;

    &__title{
      position: relative;
      display: flex;
      align-items: center;
      height: auto;
      min-height: 80px;
      padding-top:0.5em;
      padding-right: 4rem;
      padding-bottom:0.5em;
      padding-left: 1.5rem;
      background: $white;
      transition: all 200ms;
      cursor: pointer;
      &:before, &:after {
        position: absolute;
        top: 50%;
        right: 2rem;
        width: 17px;
        height: 2px;
        background-color: $color-text;
        content: '';
      }

      &:after {
        transform: rotate(90deg);
        transition: all 200ms;
      }

      &__title{
        @include header-small;
      }
    }

    &__content{
      max-height: 0;
      overflow: hidden;
      background-color: $white;
      transition: all 200ms;
    }

    &__content-inner{
      padding: 1.5rem;
      padding-top: 0;
    }

    &--active{
      border-top-width: 8px;
      .c-accordion__item__title{
        &:after {
          transform: rotate(0deg)
        }
      }
      .c-accordion__item__content{
        max-height: 500px;
        padding-top:0;
        visibility: visible;
      }
    }

  }

  &--orange {
    .c-accordion__item {
      border-top-color: $brand-gold;
    }
  }

  &--blue {
    .c-accordion__item {
      border-top-color: $brand-ocean;
    }
  }

  &--green {
    .c-accordion__item {
      border-top-color: $brand-emerald;
    }
  }

  &.background--white {
    .c-accordion__item__title,
    .c-accordion__item__content{ 
      background-color: $color-line;
    }
  }

}