.c-accordion{
  &__container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: clamp(0.5rem, 3vw, 3rem);
    @include breakpoint($break-tablet){
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  &__details{
  }
  &__lists{
    grid-column-end: span 2;
  }
  &__main-heading{
    @include header-regular;
  }
  &__subhead{
    @include header-subhead;
    margin-bottom: 1.5rem;
  }
}