.c-basket {
  th, td{
    /* stylelint-disable */
    font-size:18px !important;
    /* stylelint-enable */
  }
  tr{
    width: 100%;
  }
  @mixin griddefaults{
    display: grid;
    width:100%;
    gap:1.5rem;
  }
  button{
    @include form-submit;
  }
  .shop_table{
    display: block;
    width: 100%;
    margin-bottom: 3rem;
    thead, tbody{
      display: block;
    }
    thead tr{
      display: none;
      @include breakpoint($break-desktop) {
        @include griddefaults;
        margin-bottom:1.5rem;
        grid-template-columns: 50% 1fr 1fr 1fr 1fr;
      }
    }
    tbody tr{
      @include breakpoint($break-desktop) {
        @include griddefaults;
        margin-bottom:1.5rem;
        grid-template-columns: 50% 1fr 1fr 1fr 1fr;
      }
      td.actions{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 3rem;
        border-bottom: 2px solid $color-line;
        @include breakpoint($break-desktop) {
          flex-direction: row;
          grid-column-start: 2;
          grid-column-end: 6;
        }
      }
    }
    td{
      display: flex;
      flex-direction: column;
      @include font-size(18);
      &:last-of-type{
        align-items: center;
      }
      &:first-of-type{
        align-items:flex-start;
      }
    }
  }
  .coupon{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 0.5em;
    input.input-text{
      @include form-input-text--inline;
      height: 44px;
    }
    button{
      @include buttondefaults;
      background-color:transparent;
      border:solid 3px $color-line-dark;
      color: $color-text;
    }
  }

  .woocommerce-Price-amount{

  }
  .woocommerce-cart-form__cart-item{
    padding-top: 1.5rem;
    border-top: 2px solid $color-line;
  }

  .product-name{
    a{
      @include font-bold;
      @include header-small;
      margin-bottom: 1.5rem;
      color: $color-text;
      text-decoration: none;
      &:hover{
        color: $brand-red;
      }
    }
    dl.variation{
      @mixin textresets{
        /* stylelint-disable */
        margin: 0 !important;
        padding: 0 !important;
        font-size:16px !important;
        line-height: 1.2 !important;
        /* stylelint-enable */
      }
      display: inline-grid;
      grid-template-columns: auto auto;
      grid-gap:0.3em;
      @include textresets;
      p{
        @include textresets;
      }
      dt, dd{
        @include breakpoint($break-desktop) {
          display: block;
        }
      }
      dt{
        padding-right: 0.5em;
      }
    }
  }
  .cart-collaterals{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
  }
  .cart_totals{
    width: 100%;
    @include breakpoint($break-desktop) {
      width: calc(50% - 1.5rem);
    }
    gap:1.5rem;
    box-sizing: border-box;
    .shop_table{
      tbody tr{
        @include griddefaults;
        margin-bottom:1.5rem;
        grid-template-columns: 1fr 1fr;
        td{
          display: block;
          text-align: right;
        }
      }
    }
  }
  .wc-proceed-to-checkout{
    display: flex;
    justify-content: flex-end;
    a{
      @include form-submit;
    }
  }

}