.c-checkout {

  h3 {
    @include header-regular(true, true);
    margin-bottom: 1.5rem;
  }
  .checkout_coupon{
    width: 100%;
    max-width: 756px;
    margin-bottom: 3rem;
    p{
      margin-bottom: 1.5rem;
    }
    input.input-text{
      @include form-input-text;
      margin-bottom: 0;
    }
    .button{
      @include form-submit;
    }
  }
  .woocommerce-error{
    margin-bottom: 1.5rem;
  }
  .woocommerce-billing-fields, .woocommerce-additional-fields{
    margin-bottom: 3rem;
  }
  .woocommerce-info{
    margin-bottom: 3rem;
  }
  .woocommerce-checkout{
    width: 100%;
    max-width: 756px;
    input{
      @include form-input-text;
    }
    label{
      @include form-label;
    }
    textarea {
      @include form-input-textarea;
    }
    .button {
      @include form-submit;
    }
    .select{
      @include form-dropdown;
    }
    #billing_country_field{
      padding-bottom: 1.5rem;
      .select2-selection{
        height: auto;
      }
    }
  }



  .woocommerce-checkout-review-order{
    @include font-size(18);
    .shop_table{
      width: 100%;
      margin-bottom: 3rem;
      thead, tbody, tfoot, tr, td{
        display: block;
      }
      thead, tbody{
        border-bottom:$borderline-darker;
      }
      tbody, tfoot{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
      }
      thead{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        th{
          @include font-bold;
        }
      }
      tr{
        display: grid;
        width: 100%;
        grid-template-columns: 70% 1fr;
        column-gap: 1.5rem;
        .product-total{
          text-align: right;
        }
        strong *{
          @include font-bold;
        }
        .woocommerce-Price-amount{
          display: flex;
          justify-content: flex-end;
          @include font-regular;
        }
      }
      tfoot{
        tr{
          margin-bottom: 0.75rem;
        }
        th{
          @include font-regular;
        }
      }
      .cart-subtotal{
        th{
          @include font-bold;
        }
      }
    }
    .cart_item{
      margin-bottom: 1.5rem;
      .product-name{
        @include font-bold;
        margin-bottom: 0.75rem;
      }
      .product-total{
      }
      .variation{
        @include variationtable;
        width: 100%;
        margin-top: 0.75rem;
      }
    }
  }
}


.wc_payment_method{
  /* stylelint-disable */
  @include bordered-box;
  display: flex;
  flex-wrap: wrap;
  gap:1rem;
  margin-top: 1.5rem;
  input.input-radio{
    width: unset !important;
    margin-bottom: 0;
  }
  label{
    display: flex;
    flex-grow: 1;
    align-items: center;
    width: unset !important;
    margin-bottom: 0 !important;
    @include font-size(18);
    line-height:1;
  }
  .payment_box{
    width: 100%;
  }
  &.payment_method_stripe{
    input.input-radio{
      transform: translateY(40%);
    }
    label{
      display: flex;
      align-items:center;
      margin-bottom: 0;
      img{
        display: block;
        &:first-of-type{
          margin-left: 1rem !important;
        }
      }
    }
  }
  /* stylelint-enable */
}
.woocommerce-terms-and-conditions-wrapper{
  padding: 3rem 0;
  p{
    @include text-tiny;
  }
}


