.c-checkout {
  h3 {
    @include header-regular(true);
    margin-top: 6rem;
    margin-bottom: 3rem;
  }
  strong{
    font-weight: $reg;
  }
  .checkout_coupon{
    @include bordered-box;
    width: 100%;
    max-width: 800px;
    margin-bottom: 3rem;
    p{
      margin-bottom: 1.5rem;
    }
    input.input-text{
      @include form-input-text;
      margin-bottom: 0;
    }
    .button{
      @include form-submit;
    }
  }

  .woocommerce-form-login-toggle{
    // display: none;
  }

  .woocommerce-form-login{
    @include bordered-box;
    margin-bottom: 3rem;
    p{
      margin-bottom: 3rem;
    }
    .woocommerce-button{
      /* stylelint-disable-next-line */
      display: block !important;
    }
  }

  .woocommerce-error{
    margin-bottom: 1.5rem;
    @include font-bold;
  }
  .woocommerce-info{
    margin-bottom: 3rem;
    @include font-bold;
  }
  .woocommerce-checkout{
    width: 100%;
    max-width: 800px;
    &__existing-client{
      .woocommerce-input-wrapper{
        position: relative;
        display: flex;
        align-items: baseline;
        width: 100%;
        input{
          display: inline-block;
        }
        label{
          display: inline-block;
          width: unset;
          margin-right: 1em;
          /* stylelint-disable-next-line */
          margin-bottom: 0 !important;
          margin-left: 0.2em;
          @include font-regular;
        }
      }
    }
    .wc_payment_method{
      /* stylelint-disable */
      @include bordered-box;
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      margin-top: 1.5rem;
      gap:1rem;
      input.input-radio{
        width: unset !important;
        margin-bottom: 0;
      }
      label{
        display: flex;
        flex-grow: 1;
        align-items: center;
        width: unset !important;
        margin-bottom: 0 !important;
        line-height:1;
        @include text-regular;
      }
      .payment_box{
        width: 100%;
      }
      &.payment_method_stripe{
        label{
          display: flex;
          align-items:center;
          margin-bottom: 0;
          img{
            display: block;
            &:first-of-type{
              margin-left: 1rem !important;
            }
          }
        }
      }
      /* stylelint-enable */
    }
  }


  .woocommerce-NoticeGroup + #customer_details{
    .woocommerce-checkout__existing-client.woocommerce-invalid{
      padding: 0.75rem;
      border: 2px solid $brand-red;
    }
  }

  .shop_table{
    width: 100%;
    margin-bottom: 3rem;
    thead, tbody, tfoot, tr, td{
      display: block;
    }
    thead, tbody{
      border-bottom:$borderline-darker;
    }
    tbody, tfoot{
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
    thead{
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      th{
        @include font-bold;
      }
    }
    tr{
      display: grid;
      width: 100%;
      grid-template-columns: 70% 1fr;
      column-gap: 1.5rem;
      .product-total{
        text-align: right;
      }
      strong *{
        @include font-bold;
      }
      .woocommerce-Price-amount{
        display: flex;
        justify-content: flex-end;
        @include font-regular;
      }
    }
    tfoot{
      tr{
        margin-bottom: 0.75rem;
        th{
          @include font-bold;
        }
      }
    }
    .cart-subtotal{
      th{
        @include font-bold;
      }
    }
    .order-total{
      th{
        @include font-bold;
      }
    }
  }



  .woocommerce-checkout-review-order{
    @include text-regular;
    .cart_item{
      margin-bottom: 1.5rem;
      .product-name{
        @include font-bold;
        margin-bottom: 0.75rem;
      }
      .product-total{
      }
      .variation{
        @include variationtable;
        width: 100%;
        margin-top: 0.75rem;
      }
    }
  }

  // Thankyou page

  .woocommerce-order{
    max-width: 800px;
    h2{
      @include header-regular(true);
    }
    p{
      margin-bottom: 1.5rem;
    }
    ul li{
      margin-bottom: 1.5rem;
    }
    .woocommerce-order-overview{
      margin-bottom: 1.5rem;
    }
    .woocommerce-table{
      /* stylelint-disable */
      @include text-regular;
      &__product-name{
        a{
          @include font-bold;
          text-decoration: none;
        }
      }
      tfoot{
        tr{
          td{
            text-align: right;
          }
          &:last-of-type{
            td{
              span{
                @include font-bold;
              }
            }
          }
        }
      }
      /* stylelint-enable */
      ul.wc-item-meta li{
        margin-top: 0.75rem;
        @include text-tiny;
      }
      ul.wc-item-meta li p{
        @include text-tiny;
        margin-bottom: 0;
      }
    }
    section{
      &:first-of-type{
        margin-top: 6rem;
      }
    }
  }

}












.woocommerce-terms-and-conditions-wrapper{
  padding: 3rem 0;
  p{
    @include text-tiny;
  }
  .woocommerce-privacy-policy-text{
    margin-bottom: 1.5rem;
  }
}


