.c-dashboard{
  &__before-table{
    margin-bottom: 3rem;
  }
  &__after-table{
    margin-bottom: 3rem;
  }
  &__list{
    margin-bottom: 3rem;
  }
  &__empty{
    @include intro-text;
    margin-bottom: 3rem;
  }
  &__gated-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
    border-top: $borderline-darker;
    &:first-of-type{
      border-top: 0;
    }
    &__title{
      @include header-small;
      @include breakpoint($break-desktop-med){
        /* stylelint-disable-next-line */
        margin-bottom: 0 !important;
      }
    }
    &__status{
      @include font-bold;
    }
  }
}