.c-featurelist{
  text-align: left;
  &__title{
    margin-bottom: 1em;
    @include font-bold;
    @include font-size(20);
  }
  &__list{
    &__item{
      display: block;
      padding-top:0.5em;
      padding-bottom:0.5em;
      padding-left: calc(1em + 12px);
      background-image:url(#{$image-path}/icons/tick.svg);
      background-position: left center;
      background-size: 12px 9px;
    }
  }
}