.c-footer{
  background-color:$brand-charcoal;
  line-height: 1.4;
  &__container{
    @include breakpoint($break-desktop){
      @include flex-stretch;
      justify-content: space-evenly;
      padding:1.5rem 0;
    }
  }
  @extend .dark;
  &__section{
    padding-top:1.5rem;
    padding-bottom:1.5rem;
    @include breakpoint($break-desktop){
      @include flex-center;
      align-items: flex-start;
      min-height: 80px;
      margin-left: 1.5rem;
      padding-top:0.5rem;
      padding-bottom: 0;
      padding-left: 1.5rem;
      border-left: 1px solid $color-line-dark;
    }
    @include breakpoint($break-desktop-wider){
      margin-left: 5%;
      padding-left: 5%;
    }
    &:first-of-type{
      margin-left: 0;
      padding-left: 0;
      border-left: none;
    }
    &:last-of-type{
      padding-right: 0;
    }
  }
  &__socials{
    @include flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    @include breakpoint($break-desktop-wider){
      flex-wrap: nowrap;
    }
    gap:1.5rem;
    &__link{
      width: 50px;
      height: 50px;
      padding: 0.5rem;
      background-color:$color-bg-1;
      @include flex-center;
      &:hover{
        background-color:rgba($color-bg-1, 0.5);
      }
      img{
        width: 25px;
        height: 25px;
      }
    }
  }

  &__menu{
    min-height: 80px;
    &__list{
      &__item{
        @include font-bold;
        @include font-size(16);
      }
    }
  }

  &__copyright{
    &__notice{
      display: flex;
      flex-direction: column;
      flex-shrink: 1;
      justify-content: flex-start;
      @include font-size(16);
      @include breakpoint($break-desktop-wider){
        flex-direction: row;
        align-items: center;
      }
    }
    span{
      display: block;
      white-space: nowrap;
      &.vertical-bar{
        display: none;
        @include breakpoint($break-desktop-wider){
          display: block;
        }
      }
    }
  }

}