.c-header-main{
  $elemheight:82px;
  border-bottom: 1px solid $color-line;
  &__container{
    @include flex;
    justify-content: space-between;
    width: 100%;
    height: $elemheight;
  }
  &__logo{
    flex-grow: 1;
    flex-shrink: 0;
    &__image{
      width: 100%;
      max-width: 175px;
    }
  }
  &__menu{
    display: none;
    @include breakpoint($break-desktop-wide) {
      display: flex;
    }
    flex-grow: 1;
    ul{
      align-self: stretch;
      justify-content: flex-start;
      @include flex;
      li{
        display: block;
        height: $elemheight;
        border-right: 1px solid $color-line;
        &:last-of-type{
          border-right: none;
        }
        a{
          position: relative;
          height: $elemheight;
          padding: 0 3rem;
          font-family:$font-bold;
          white-space: nowrap;
          @include flex;
          /* stylelint-disable */
          &:after{
            position: absolute;
            bottom: 0;
            left: 0;
            display:block;
            width: 100%;
            height: 8px;
            content: '';
          }
          &:hover{
            &:after{
              background-color: $brand-red;
              @include page-color('background-color');
            }
          }
          /* stylelint-enable */

        }
      }
    }
  }
  &__basket{
    align-self: stretch;
    padding: 1.5rem;
    color: $white;
    @include flex;
    @include breakpoint($break-desktop-wide) {
      background-color: $brand-red;
    }
    &__icon{
      width: 20px;
      height: 20px;
      background-image: url('#{$asset-path}/img/icons/basket.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px 20px;
      @include breakpoint($break-desktop-wide) {
        background-image: url('#{$asset-path}/img/icons/basket-white.svg');
      }
    }
    &__label{
      display: none;
      @include breakpoint($break-desktop-wide) {
        display:block;
        padding-left: 1em;
      }
    }
  }
  &__hamburger{
    @include breakpoint($break-desktop-wide) {
      display: none;
    }
  }
}