.c-header-main{
  $elemheight:82px;
  @include breakpoint($break-desktop-wide) {
    order: 2;
  }
  &__container{
    @include flex;
    justify-content: flex-end;
    width: 100%;
    height: $elemheight;
    @include breakpoint($break-desktop-wide) {
      padding: 0;
    }
  }
  &__menu-wrap{
    background-color: $color-bg-feint;
    @include breakpoint($break-desktop-wide) {
      order: 2;
    }
  }
  &__logo{
    flex-shrink: 0;
    margin-right: auto;
    &__image{
      width: 100%;
      max-width: 132px;
      margin-top: 2px;
      @include breakpoint($break-desktop-wide) {
        max-width: 175px;
      }
    }

  }
  &__menu{
    @include breakpoint($break-desktop-wide) {
      display: flex;
      flex-grow: 1;
      order: 2;
      margin-bottom: -82px;
      padding-left: 235px;
      background-color: $white;
    }

    nav {
      @include breakpoint($break-desktop-wide) {
        width: calc(100% - 172px);
      }
    }

    ul {
      margin: 0;
      padding: 3rem 0;
      text-transform: uppercase;
      @include breakpoint($break-desktop-wide) {
        align-self: stretch;
        justify-content: flex-start;
        padding: 0;
        @include flex;
        border-left: 1px solid $color-line;
      }
    }

    li {
      @include breakpoint($break-desktop-wide) {
        display: block;
        height: $elemheight;
        border-right: 1px solid $color-line;
      }

      a {
        display: block;
        padding: 0.75rem 0;
        @include font-bold;
        @include text-regular;

        @include breakpoint($break-desktop-wide) {
          position: relative;
          display: flex;
          align-items: center;
          height: $elemheight;
          padding: 0 48px;
          text-align: center;
        }
      }

      a:after {
        @include breakpoint($break-desktop-wide) {
          position: absolute;
          bottom: 0;
          left: 0;
          display:block;
          width: 100%;
          height: 8px;
          content: '';
        }
      }

      a:hover:after {
        @include breakpoint($break-desktop-wide) {
          background-color: $brand-red;
          @include page-color('background-color');
        }
      }

      &.current_page_item{
        a:after{
          @include page-color('background-color');
        }
      }

    }
  }

  &__basket{
    display: flex;
    align-items: center;
    align-self: stretch;
    padding: 0 3rem;
    color: $white;
    @include breakpoint($break-desktop-wide) {
      background-color: $brand-red;
      &:hover{
        background-color: darken($brand-red, 5%);
      }
    }
    &__inner{
      gap:0.5em;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
    &__icon{
      width: 20px;
      height: 20px;
      background-image: url('#{$asset-path}/img/icons/basket.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px 20px;
      @include breakpoint($break-desktop-wide) {
        background-image: url('#{$asset-path}/img/icons/basket-white.svg');
      }
    }
    &__label{
      display: none;
      @include breakpoint($break-desktop-wide) {
        display:block;
        @include font-bold;
        @include text-small;
      }
    }
    .basket_count{
      @include font-bold;
      @include text-small;
    }
  }
  &__hamburger{
    @include breakpoint($break-desktop-wide) {
      display: none;
    }
  }
}