.c-hero-carousel{
  position: relative;
  background:$color-bg-solid;
  .swiper-pagination{
    position: absolute;
    bottom: -4rem;
    left: 50%;
    display: flex;
    justify-content: center;
    width: 320px;
    transform: translateX(-50%);
    gap:8px;
  }
  .swiper-pagination-bullet{
    display: block;
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 37px;
    max-width: 74px;
    height: 60px;
    background-color: unset;
    border-radius: unset;
    &:after{
      display: block;
      width: 100%;
      height: 8px;
      background:rgba($black, 0.5);
      content: '';
    }
    &-active{
      &:after{
        background:$black;
      }
    }
  }
  .swiper-container{
    overflow:visible;
  }
}