.c-hero{
  background-color: $brand-charcoal;
  @extend .dark;
  border-bottom: $brand-red solid 25px;
  &__row{
    position: relative;
    width: 100%;
    padding-right:$edgepadding-mobile-loose;
    padding-left:$edgepadding-mobile-loose;
    box-sizing: border-box;
    @include breakpoint($break-tablet) {
      padding-right: $edgepadding-tablet;
      padding-left: $edgepadding-tablet;
    }
  }
  .c-hero-carousel &{
    border-bottom: none;
  }
  @include page-color('border-color');
  @mixin container-defaults{
    @include flex-column;
    position: relative;
    height: auto;
    height: calc(80vh - #{$header-height-mobile});
    min-height: 600px;
    @include breakpoint($break-desktop-med){
      max-height: 750px;
      margin-top: 0;
      @include flex-stretch;
    }
    .c-hero--shallow &{
      height: auto;
      min-height: unset;
      max-height: unset;
    }
    .c-hero--text &{
      @include breakpoint(0, $break-desktop-med){
        height: auto;
      }
    }
    .c-hero--default &{
      min-height: 150px;
      max-height: 480px;
    }
  }
  &__container{
    @include container-defaults;
    z-index: 2;
    .c-hero--product &{
      display:grid;
      grid-gap: $grid-gap;
      @include breakpoint($break-desktop-med) {
        grid-template-columns: 1fr 630px;
      }
    }
  }
  &__container-background{
    @include container-defaults;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    @include breakpoint($break-desktop-med){
      display: flex;
      justify-content: flex-end;
      &__image-text{
        width: 50%;
      }
    }
  }
  &__tagline{
    margin-bottom: 1.5rem;
    @include page-color('color');
  }
  &__heading{
    @include font-display;
    margin-bottom: 1.5rem;
  }
  &__intro{
    max-width: 500px;
    margin-bottom: 2.5rem;
  }
  &__main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content:center;
    width: 100%;
    padding-right: 3vw;
    @include breakpoint($break-desktop-med){
      flex-grow: unset;
      width: 50%;
      .c-hero--product &{
        width: 100%;
      }
    }
    @include breakpoint($break-site-width-margins){
      padding-left: 0;
    }
    &:before{
      display:block;
      flex-grow: 1;
      height: auto;
      background-image: url(#{$asset-path}/img/ribbon-white-top.svg);
      .c-hero-carousel &{
        background-image: url(#{$asset-path}/img/ribbon-red-top.svg);
      }
      background-position: bottom left;
      content: '';
      .c-hero--shallow &{
        display:none;
      }
    }
    &:after{
      display:block;
      flex-grow: 1;
      height: auto;
      background-image: url(#{$asset-path}/img/ribbon-white-bottom.svg);
      .c-hero-carousel &{
        background-image: url(#{$asset-path}/img/ribbon-red-bottom.svg);
      }
      background-position: top left;
      content: '';
      .c-hero--shallow &{
        display:none;
      }
    }
    &__inner{
      padding: 3rem 0;
      @include breakpoint($break-desktop-med){
        padding: 6rem 0;
      }
      &__main{
        *:last-child{
          margin-bottom: 0;
        }
      }
      &__text{
        display: block;
        margin-top:1.5rem;
        margin-bottom: none;
        @include breakpoint($break-desktop-med){
          display: none;
        }
      }
    }
  }
  &__image-text{
    display: none;
    @include breakpoint($break-desktop-med){
      display: block;
      width: 50%;
      @include flex-center;
    }
    &__image{
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__text{
      @include flex-center;
      padding-right:60px;
    }
  }
  &__cta{
    .e-cta-button{
      @include page-color(background-color);
    }
  }
  &__product-cta{
    .e-cta-button{
    }
    &__details{
      display: none;
      @include breakpoint($break-tablet){
        display: block;
      }
    }
    &__form{
      display: block;
      @include breakpoint($break-tablet){
        display: none;
      }
    }
  }
} 