.c-listing{
  margin-top: 4rem;
  margin-bottom: 4rem;
  &__subhead{
    @include header-subhead;
  }
  &__heading{
    @include header-section;
    margin-top: 0.3em;
    margin-bottom: 0.8em;
  }
  @mixin griddefaults{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: clamp(0.5rem, 3vw, 3rem);
  }
  &__grid{
    @include griddefaults;
    @include breakpoint($break-desktop){
      grid-template-columns: 1fr 1fr 1fr;
    }
    &--2cols{
      @include griddefaults;
      @include breakpoint($break-desktop){
        grid-template-columns: 1fr 1fr;
      }
    }
    &--3cols{
      @include griddefaults;
      @include breakpoint($break-desktop){
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
    &--4cols{
      @include griddefaults;
      @include breakpoint($break-desktop){
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
  &__card{
    background: $gold;
  }
}