.c-product-details{
  &__container{
    display:grid;
    grid-gap: $grid-gap;
    @include breakpoint($break-desktop-med) {
      grid-template-columns: 1fr 630px;
    }
  }
  &__content{
    &>div:last-of-type{
      padding-bottom:0;
    }
  }
  &__product-order{
    position: relative;
    @include breakpoint($break-desktop-med) {
      top: -590px;
      height: calc(100% + 590px);
    }
    &__form{
      height: auto;
      margin-bottom:3rem;
      background: $color-bg-3;
      @include breakpoint($break-tablet){
        height: 565px;
      }
      @include breakpoint($break-desktop-med) {
        position:sticky;
        top: 6rem;
        width: 100%;
      }
    }
  }
}