.c-product-details{
  &__container{
    @include breakpoint($break-desktop-med) {
      display:grid;
      grid-gap: $padding-deep;
      grid-template-columns: 1fr 630px;
    }
  }
  &__product-order{
    position: relative;
    @include breakpoint($break-desktop-med) {
      top: -590px;
      height: calc(100% + 590px);
    }
    &__form{
      height: auto;
      margin-bottom:$padding-deep;
      background: $color-bg-3;
      @include breakpoint($break-tablet){
        height: 565px;
      }
      @include breakpoint($break-desktop-med) {
        position:sticky;
        top: 6rem;
        width: 100%;
      }
    }
  }
}

.product-full-width{
  &>div:last-of-type{
    padding-bottom: 6rem;
  }
}