.c-signpost{
  &__grid{
    @include breakpoint($break-desktop){
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-gap: $grid-gap;
      grid-template-columns: 1fr 1fr;
    }
  }
  &__media{
    margin-bottom:2rem;
  }
  &__tagline{
    margin-bottom:1.5rem;
    @include header-tagline;
  }
  &__heading{
    @include header-regular(true);
    margin-bottom: 1.5rem;
  }
  &__intro{
    @include intro-text;
    margin-bottom: 1.5rem;
  }
  &__content-main{
    margin-bottom: 1.5rem;
    @include text-format;
  }
  &__cta{
    margin-bottom: 1.5rem;
  }
}