{% do action('woocommerce_account_dashboard') %}

{% if gated %}

<div class="c-dashboard__list">

{% for gate in gated %}
    {% set status = gate['status'] %}
    {% set gate = TimberPost(gate['gate']) %}

    {% set btnText = 'Access' %}
    {% if gate.gated_button_overwrite %}
        {% set btnText = gate.gated_button_overwrite %}
    {% endif %}

    <div class="c-dashboard__gated-box c-dashboard__gated-box--{{ status }}">
    
    <h3 class="c-dashboard__gated-box__title">{{ gate.title }}</h3>


    {% if status == 'completed' %}

    {% set buttonArgs = {
        title: btnText,
        url: gate.link,
        color: 'red',
        size: 'small'
    } %}

    {% include "./elements/button.twig" with buttonArgs %}

    {% else %}
        <span class="c-dashboard__gated-box__status">
            {{ 'Processing' }}
        </span>
    {% endif %}

    
</div>

{% endfor %}

</div>

{% endif %}

<div class="c-account__message">
    <p>{{ options.store_need_help }}</p>
</div>