{% extends 'base.twig' %}

{% block content %}

    {% if fn('is_user_logged_in') %}
        {% include './partials/hero.twig' with {
            account: true,
            type: 'shallow'
        } %}
    {% endif %}

    {% if fn('is_page', 'register') %}

        {% filter shortcodes %}
        <div class="c-account background--gray">

            <div class="o-row o-row--no-margin o-row--mobile-loose">

                <div class="o-grid-container">
                    [wc_reg_form]
                </div>

            </div>

        </div>
        {% endfilter %}

    {% else %}
    
        {% filter shortcodes %}
        <div class="c-account background--gray">

            <div class="o-row o-row--no-margin o-row--mobile-loose">

                <div class="o-grid-container">
                    [woocommerce_my_account]
                </div>

            </div>

        </div>
        {% endfilter %}

    {% endif %}

{% endblock %}