{% extends 'base.twig' %}

{% block content %}

    {% include './partials/hero.twig' with {
        account: true,
        type: 'shallow'
    } %}

    {% filter shortcodes %}
        <div class="c-checkout padding background--gray">

            <div class="o-row o-row--no-margin">

                <div class="o-grid-container">
                    [woocommerce_checkout]
                </div>

            </div>

        </div>
    {% endfilter %}

{% endblock %}