{% extends 'base.twig' %}

{% block content %}

    {% set page_builder = post.meta('page_modules') %}
    {% set product_builder = post.meta('product_modules') %}

    {% do action('woocommerce_before_single_product') %}

    {% set linkArr = [{
        'title': 'Product details',
        'url': '#details',
        'target': ''
    }] %}

	{% include './partials/hero.twig' with {
        product: true,
        category: post.terms('product_cat')[0],
        type: 'full',
        header: post.title,
        intro: post.meta('product_hero_intro'),
        link: linkArr[0]
    } %}

    <div class="c-product-details background--white">
        <div class="o-row o-row--no-margin">
            <div class="o-grid-container c-product-details__container">
                <div class="c-product-details__content">
                    {% for acf in product_builder %}
                        {% include './partials/' ~ acf.acf_fc_layout ~ '.twig' %}
                    {% endfor %}
                </div>
                <div class="c-product-details__product-order">
                    <div id="product-order-form" class="c-product-details__product-order__form c-product-box">
                        {% include './elements/product-box.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% do action('woocommerce_after_single_product') %}

    <div class="product-full-width">

        {% for acf in page_builder %}
            {% include './partials/' ~ acf.acf_fc_layout ~ '.twig' %}
        {% endfor %}

    </div>

{% endblock %}