{% do action('woocommerce_account_dashboard') %}

<h2 class="c-account__message">
    Welcome to BDO Store.
</h2>

<p>
    You are now logged in.
</p>
<br><br>

<a href="/" class="woocommerce-button">Shop now</a>